body{
  background-color: #74dada98;
  margin-top: 10em;
  margin-left:1em;
  margin-right: 1em;
  margin-bottom: 2em;
}

/* * Mobile, smallest view */

  @media (max-width: 43rem) {
    .div-nav {
    background-color: pink;
    height: auto;
    width: 100vw;
    }
  } 

    @media (max-width: 43rem) {
    .link{
      color: black;
      font-size: 0.75;
    }
  }

  /* Tablet, mid-small view */
  @media (min-width: 43rem) {
    .div-nav {
    background-color: rgb(2, 66, 12);
    color: black;
    height: auto;
    width: 100vw;
    
    }
  }

  /* Desktop view */
  @media (min-width: 62rem) {
    .div-nav {
    background-color: red;
    color: black;
    height: 2em;
    width: 100vw;
    font-size: 1em;
    }
  }

  /* X-wide desktop view */
  @media (min-width: 82rem){
    .div-nav {
    background-color: blue;
    height: 2em;
    width: 100vw;
  }
  }


.div-nav{
  display: grid;
<<<<<<< HEAD
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
  height: 3.5em;
  width: 98%;
=======
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 3em;
  width: 98%;
/*   background-color: black; */
>>>>>>> ac7b7129bcbb66fc2293b2c7a5eba3d4301c8e7c
  justify-items: center;
  justify-content: center;
  align-content: center;
  align-self: center;
  margin-top: 20px;
  margin-left: 3px;
  margin-right: 3px;
  padding-top: 5px;
}
 .navbar {
  /* background-color:#131312; */
  font-family: Lora, Arial, Times New Roman, serif;
  font-size: 1.05em;
  font-weight: bold;
  justify-items: center;
  align-items: center;
  align-content: center;
  text-align: center;
  padding: 0px;
  text-decoration: no;
 } 
.link {
  text-align: center;
  align-items: center;
  align-self: center;
  color:white;
  padding: 28px;
  margin: 0px;
  text-decoration: none; 
}
.link:hover {
    
    font-style:oblique;
   font-weight: bold;
}
a:link {
  text-decoration: none;
  color: #8181ac; 
}


/* @media only-screen and (max-width: 600px){
  .navbar {
            font-size: 0.15em;
            padding:0px;
            text-align: center;
            align-items: center;
            align-self: center;
  }  
} */
.h1-index {
  font-size: 3em;
  font-family: Times New Roman, serif;
  margin-top: 10px;
  text-align: center;
  margin: 10px;
  padding-top: 5px; 
  padding-left: 3em;
  padding-right: 3em;
}
.h2-index {
  font-size: 2em;
  font-family: Lora, Arial, Times New Roman, serif;
  margin-top: 10px;
  text-align: center;
  margin: 10px;
  padding-top: 5px; 
  padding-left: 3em;
  padding-right: 3em;
}

/* Personal-info page */
.div-personal {
  width: 95%;
  margin-top: 10px;
  text-align: center;
  margin: 10px;
  padding-top: 5px; 
  padding-left: 3em;
  padding-right: 3em;
}
.h1-personal {
  font-size: 3em;
  font-family: Times New Roman, serif;
  margin-top: 10px;
  text-align: center;
  margin: 10px;
  padding-top: 5px; 
  padding-left: 3em;
  padding-right: 3em;
 }
.p-personal {
  font-size: 2em;
  font-family: Times New Roman, serif;
  line-height: 50px;
  text-align: center;
  margin: 10px;
  padding-top: 5px; 
  padding-left: 3em;
  padding-right: 3em;
}


/* HTML-CSS page */
 
 /* .body-html {
  background-image: url("images/computer.jpg");
   opacity: 0.5;
   margin-top: 10em;
  margin-left: 35px;
  margin-right: 35px;
  margin-bottom: 4em;
} 
.img-computer {
  opacity: 20%;
}  */

/* .img-computer {
  position: fixed; 
  top: 0; 
  left: 0; 
  background: no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top: 175px
} */

  .h1-html{
    font-size: 1.25em;
  font-family: Arial, Times New Roman, serif;
  color: black;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
  padding-top: 5px;
  }
 
  .div-element {
      display: flex;
      flex-direction: row;
      font-family: Righteous, Lora, Arial, Times New Roman, serif;
      color: black;
      line-height: 29px;
      font-size: 22px;
      text-align: justify;
      justify-items: center;
      box-shadow: 1px 2px 5px 5px #999;
      margin: 5px;
      padding: 0px;
  }
  h2 {
    font-family: Righteous, Lora, Arial, Times New Roman, serif;
    color: black;
    font-size: 28px;
    padding-right: 20px;
  }
  .p-html {
    margin-bottom: 30px;
    padding-bottom: 1em;
    /* text-indent: 20px; */
    font-family: Righteous, Lora, Arial, Times New Roman, serif;
    color: black;
    font-size: 22px;
    text-align: center;
    text-align: justify;
    line-height: 50px;
  }
  .alllist {
    display: flex;
    flex-direction: column;
    float: right;
    grid-gap: 0px;
    margin: 0.5em 3em;
    padding: 0px;
    box-shadow: 12px 8px 8px 9px #999;
    border-radius: 25px;
  }
  #list {
 font-family: Righteous, Lora, Arial, Times New Roman, serif;
 color: black;
  font-size: 24px;
  margin-left: 20px;
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(1fr 1fr 1fr 1fr);
  grid-gap: 10px;
  justify-items: center;
  justify-content: center;
  margin-top: 10px;
  margin: 10px;
  padding-top: 5px;
  }
.p-element {
    margin-bottom: 30px;
    padding-bottom: 15%;
    padding-right: 10px;
    text-indent: 20px;
    font-family: Righteous, Lora, Arial, Times New Roman, serif;
    color: black;
    line-height: 29px;
    font-size: 22px;
    box-shadow: 12px 8px 8px 9px #999;
    text-align: justify;
}
.div-static {
    display: flex;
    flex-direction: row;
    font-family: Righteous, Lora, Arial, Times New Roman, serif;
    line-height: 29px;
    font-size: 22px;
    text-align: justify;
    justify-items: center;
    margin: 5px;
    padding: 0px;
    box-shadow: 12px 8px 8px 9px #999; 
  }
  .p-static {
    margin-bottom: 20px;
    padding-bottom: 20px;
    text-indent: 20px;
    font-family: Righteous, Lora, Arial, Times New Roman, serif;
    line-height: 29px;
    font-size: 22px;
    text-align: justify;
  }
.img-static {
  height: 400px;
  width: 400px;
  margin-top: 0px;
  margin-left: 30px;
  border-radius: 25px;
  box-shadow: 12px 8px 8px 9px #999;
  border-radius: 25px;
      }

 .div-relative {
    /* position: absolute;
      top: 100%;
      right: 50%;
      bottom: 10%;
      transform: translate(-20%, -50%); */
      display: flex;
      flex-direction:row;
      font-family: Righteous, Lora, Arial, Times New Roman, serif;
      line-height: 29px;
      font-size: 22px;
      text-align: justify;
      justify-items: right;
      margin: 5px;
      padding: 0px; 
      box-shadow: 26px 5px 5px 8px #999;
      border-radius: 25px;
    }
    .p-relative {
      /* position: absolute;
      top: 140%;
      right: 50%;
      bottom: 8%;
      transform: translate(205%, 50%); */
      margin-bottom: 30px;
      margin-right: 5px;
      padding-right: 5px;
      text-indent: 20px;
      font-family: Righteous, Lora, Arial, Times New Roman, serif;
      line-height: 35px;
      font-size: 22px;
      text-align: justify;
    }
  .img-relative {
    height: 350px;
    width: 320px;
    margin-top: 0px;
    margin-right: 20px;
    border-radius: 25px;
    box-shadow: 12px 8px 8px 9px #999;
    border-radius: 25px;
        }

    .div-absolute {
      /* position: absolute;
      top: 148%;
      left: 20%;
      bottom: 10%;
      transform: translate(-20%, -40%); */
      display: flex;
      flex-direction: row;
      font-family: Righteous, Lora, Arial, Times New Roman, serif;
      line-height: 29px;
      font-size: 22px;
      text-align: justify;
      justify-items: center;
      margin: 5px;
      padding: 0px; 
      box-shadow: 26px 2px 5px 8px #999;
    }
    .p-absolute {
      /* position: absolute;
      top: 140%;
      right: 50%;
      bottom: 10%;
      transform: translate(205%, 40%); */
      margin-bottom: 30px;
      margin-left: 1em;
      padding-right: 5px;
      text-indent: 20px;
      font-family: Righteous, Lora, Arial, Times New Roman, serif;
      line-height: 35px;
      font-size: 22px;
      text-align: justify;
    }
  .img-absolute {
        height: 370px;
        width: 350px;
        margin-top: 0px;
        margin-left: 2em;
        border-radius: 25px;
        } */

        .div-fixed {
          /* position: absolute;
          top: 198%;
          left: 20%;
          bottom: 10%;
          transform: translate(-20%, -50%); */
          display: flex;
          flex-direction: row;
          font-family: Righteous, Lora, Arial, Times New Roman, serif;
          line-height: 29px;
          font-size: 22px;
          text-align: justify;
          justify-items: center;
          margin: 5px;
          padding: 0px; 
          box-shadow: 25px 3px 5px 9px #999;
        }
        .p-fixed {
          /* position: absolute;
          top: 160%;
          left:35%;
          bottom: 10%;
          transform: translate(-75%, 35%); */
          margin-bottom: 1em;
          padding-bottom: 2em;
          text-indent: 20px;
          font-family: Righteous, Lora, Arial, Times New Roman, serif;
          line-height: 29px;
          font-size: 22px;
          text-align: justify;
      }
      .img-fixed {
            height: 330px;
            width: 330px;
            margin-top: 0px;
            align-items: center;
            margin-left: 200px;
            border-radius: 25px;
            border-radius: 25px;
            box-shadow: 8px 3px 5px 9px #999;
            }

     .div-sticky {
              /* position: absolute;
              top: 245%;
              right: 50%;
              bottom: 20%;
              transform: translate(20%, -30%); */
              display: flex;
              flex-direction:row;
              font-family: Righteous, Lora, Arial, Times New Roman, serif;
              line-height: 29px;
              font-size: 22px;
              text-align: justify;
              justify-items: right;
              margin: 5px;
              padding: 0px; 
              box-shadow: 28px 3px 5px 9px #999;
              }
      .p-sticky {
              /* position: absolute;
              top: 150%;
              right: 50%;
              bottom: 40%;
              transform: translate(205%, -50%); */
              margin-bottom: 3EM;
              margin: 5px;
              padding-right: 5px;
              text-indent: 20px;
              font-family: Righteous, Lora, Arial, Times New Roman, serif;
              line-height: 35px;
              font-size: 22px;
              text-align: justify;
              box-shadow: 32px 3px 5px 9px #999;
              }
    .img-sticky {
              height: 240px;
              width: 330px;
              margin-top: 0px;
              margin-right: 2em;
              margin-bottom: 15px;
              padding-bottom: 15px;
              border-radius: 25px;
              border-radius: 25px;
            box-shadow: 8px 3px 5px 9px #999;
                  }
         .div-youtub {
             display: flex;
             flex-direction:row;
             font-family: Righteous, Lora, Arial, Times New Roman, serif;
             line-height: 29px;
             font-size: 22px;
             text-align: justify;
             justify-items: right;
             margin-bottom: 15px;
             padding-bottom: 10px;
             box-shadow: 32px 8px 20px 9px rgb(160, 151, 151);
             border-radius: 25px;
                    }
      .p-know {
            margin-bottom: 30px;
            margin-right: 5px;
            padding-right: 5px;
            text-indent: 20px;
            font-family: Righteous, Lora, Arial, Times New Roman, serif;
            line-height: 35px;
            font-size: 22px;
            text-align: justify;
                    } 
/* Learning-plan page */
.h1-plan-id, .h1-dom {
  text-align: center;
  font-family: Righteous, Lora, Arial, Times New Roman, serif;
  font-weight: bold;
  font-size: 25px;
}
.div-learning {
  display: flex;
  flex-direction:column;
  font-family: Righteous, Lora, Arial, Times New Roman, serif;
  line-height: 29px;
  font-size: 22px;
  text-align: justify;
  justify-items: right;
  margin: 2px;
  padding: 0px; 
  box-shadow: 8px 12px 30px 20px rgb(160, 151, 151);
             border-radius: 25px; 
}
.p-questions {
  margin: 0.15em 25px 25px 25px;
  text-indent: 20px;
  font-family: Righteous, Lora, Arial, Times New Roman, serif;
  line-height: 32px;
  font-weight: bold;
  font-size: 20px;
  text-align: justify;
}
.answer {
  margin: 10px 20px 20px 30px;
  padding: 2px;
  text-indent: 20px;
  color: #11113b;
  font-family: Righteous, Lora, Arial, Times New Roman, serif;
  line-height: 30px;
  font-style: italic;
  font-size: 18px;
  text-align: justify;
}

/* identity-values page */
.h1-id {
  
  padding: 5px;
  text-indent: 20px;
  font-family: Arial, Times New Roman, serif;
  line-height: 40px;
  font-size: 40px;
  text-align: center;
  text-align: justify; 
}

.img-ht-css-js, .img-if, .img-loop {
  height: 32rem;
  weight: 38rem;
}
